<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-auto" [routerLink]="['/home']" >
      <img src="../assets/school_Logo.png" alt="Little World Play School" height="10%" width="10%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto float-left">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
<div class="row fixed-bottom bg-light">
  <div class="col clearfix">
    <div class="ml-5 float-left">
      <span>Copyright 2019. All Rights Reserved.</span>
    </div>
    <div class="float-right mr-5">
      <a href="https://www.facebook.com/LittleWorldPlaySchool/" target="_blank" style="border-radius: 10px">
        <img src="../assets/fb_logo.png" alt="fb.com@littleworldplayschool" height="24px" width="48px" />
      </a>
    </div>
  </div>
</div>
